@model WebsiteTuThien.Models.Kind

@{
    ViewData["Title"] = "Details";
    Layout = "/Views/Shared/_Admin.cshtml";
}

<h1>Xem chi tiết</h1>

<div>
    <h4>
        Loại: @Html.DisplayFor(model => model.KindName)
    </h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.KindName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.KindName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.AmountOfKind)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.AmountOfKind)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.PointOfKind)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.PointOfKind)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.KindId">Sửa</a> |
    <a asp-action="Index">Quay về danh sách</a>
</div>
@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}
