@model IEnumerable<WebsiteTuThien.Models.Kind>

@{
    ViewData["Title"] = "Thêm mới";
    Layout = "/Views/Shared/_Admin.cshtml";
}

<p>
    <a asp-action="Create">Thêm mới</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.KindName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmountOfKind)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PointOfKind)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.KindName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AmountOfKind)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PointOfKind)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.KindId">Sửa</a> |
                <a asp-action="Details" asp-route-id="@item.KindId">Xem chi tiết</a> |
                <a asp-action="Delete" asp-route-id="@item.KindId">Xoá</a>
            </td>
        </tr>
}
    </tbody>
</table>
